.body {
  padding: 15px;
  font-size: medium;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.body.light {
  background-color: #fff;
  color: #000;
  font-variant: initial;
  min-height: -webkit-fill-avaible;
  font-size: medium;
}

.body.dark {
  background-color: #556;
  color: #fff;
  font-variant: initial;
  min-height: -webkit-fill-avaible;
  font-size: medium;
}
